.split {
    background-color: #3B4252; 
    border-radius: 15px;
}

.font-palette {
    color: #D8DEE9;
}

.font-header-palette {
    color: #E5E9F0;
}

.font-split-palette {
    color: #ECEFF4;
}

.brand-palette {
    border-radius: 10px;
    background-color: #2E3440;
}

.card-palette {
    border-radius: 15px;
    background-color: #4C566A;
}

.background-palette {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #2E3440;
    background-image: url("../image/bg.webp");
}

.card-palette:hover {
    background-color: #434C5E;
}

.arrow-palette {
    color: #8FBCBB;
}

.skills-size {
    object-fit: scale-down;
    object-position: center;
    background-color: white;
    height: 150px;
    width: 150px;
}

.profile-size {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 200px;
}

.education-size {
    object-fit: scale-down;
    object-position: center;
    max-height: 200px;
    width: 100%;
    background-color: white;
}

